<div class="home-banner">
    <div class="style-banner">
      <h1>Cuddle Pet</h1>
      <p>
        <span id="banner-typed-text"></span>
      </p>
    </div>
  </div>

<div class="container">
  <h1>Available Pets:</h1>
    <div class="cards">
      <% @pets.each do |pet| %>
        <%= link_to pet_path(pet), {class: "card-over"} do %>
          <div class="cardindex">
            <div class="card-trip">
              <%= cl_image_tag pet.get_photo %>
              <div class="card-trip-infos">
                <div>
                  <h2><%= pet.name.capitalize %></h2>
                </div>
                <h2 class="card-trip-pricing"><%= pet.price %> CHF</h2>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
</div>

