<div class="card-category" id="dog-love" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1555329947-806474115762?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80)">
</div>


<div class="grid-container">
  <div class="card-product">
    <h2><%= @pet.name %></h2>
    <p>description: <%= @pet.description %></p>
    <p>owner: <%= @pet.user.email %></p>
  </div>
  <div class="box">
    <p><i class="fas fa-paw"> <%= @pet.price %> CHF</i></p>
    <div class="btn btn-primary">Rent-animal</div>
  </div>
</div>
