<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/lewagon"><i class="fab fa-github"></i></a>
    <a href="https://instagram.com"><i class="fab fa-instagram"></i></a>
    <a href="https://facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>
    <a href="https://linkedin.com"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    <a href="https://www.helpguide.org/articles/mental-health/mood-boosting-power-of-dogs.htm">Pets come with lot of <i class="fas fa-heart"></i> and some powerful mental health benefits. Here’s how caring for a dog or cat can help you cope with depression, anxiety, and stress
  </div>
</div>
