.home-banner {
  background-image: asset-url('doglove.jpeg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
  margin-bottom: 50px;
  border-radius: 5px;
}

.show-banner {
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.style-banner{
  width: 500px;
  padding: 20px;
  border-radius: 15px;
  margin: auto;
  color: white;
  h1{

    font-size: 52pt;
  }
}



