.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 20px;
  margin: 140px auto;
}

.terms{
  margin-top: 20px;
  font-size: 10px;
}

.info{
  margin-top: 20px;
}

.owner{
  margin-top: 30px;
}

.owner-details{
  margin-top:25px;
}
.dateorder{
  display: flex;
  justify-content: space-around;
  border-bottom: solid 2px;
}

.price{
  margin-top: 25px;
}

.booking{
border-bottom: 2px solid rgb(20, 20, 20);
}
